## Built image name
PHP_IMAGE_NAME=local/yii2-php
PHP_IMAGE_VERSION_SUFFIX=

## PHP-fpm & nginx
COMPOSE_PROJECT_NAME=yii2fpm
COMPOSE_FILE=docker-compose.yml
DOCKERFILE_FLAVOUR=debian
PHP_BASE_IMAGE_VERSION=7.3-fpm

## Runtime settings
# Xdebug (calling the xdebug.remote_host on 9005 port)
PHP_ENABLE_XDEBUG=0
